<main>
  <div class="logo">
    <%= image_tag("logo2.png", class: "logo-img") %>
  </div>

  <div class="catch">
    <h2>頑張っているアイツを笑顔に</h2>
    <p>あなたの身の回りにいる頑張ってるヤツを勝手に表彰してやろう！<br>
      あなたからのメッセージはその人を笑顔にする力を持っている。<br>
      さあ、いっちょ幸せ感じさせてやろう！
    </p>
  </div>

  <div class="how">
    <h3>使い方</h3>
    <div class="detail">
      <div class="step">
        <h4>STEP1</h4>
        <h6>『表彰状作成』をタップして表彰状を作成しよう！<h6>
          頑張るアイツへ表彰状を届けろ！
        </p>
        <%= image_tag("job.png", class: "job-image") %>
      </div>
      <div class="step">
        <h4>STEP2</h4>
        <h6>作成した表彰状を相手に届けよう！</h6>
        <%= image_tag("twitter.png", size: "80x80") %>
        <p>不特定多数の人に届けたい場合はTwitterで共有しよう！<br>
          ✴︎表彰状を作成した後の画面にTwitter共有ボタンがあるよ！
        </p>
        <%= image_tag("line.png", size: "80x80") %>
        <%= image_tag("instagram.png", size: "80x80") %>
        <p>
          特定の人に届けたい場合はリンクをコピーしてLINEやDMで届けよう！<br>
          もしくは、画像を保存して送ってあげよう！
        </p>
      </div>
    </div>
  </div>
</main>